
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  background-color: #76b6d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  flex-direction: column;
  background-color: white;
  width: 40%;
  height: 80%;
  border-radius: 10px;
}

.header-text {
  font-size: 40px;
  color: #76b6d4;
  font-weight: 600;
}

.header input {
  outline: none;
  border: none;
  border-bottom: #76b6d4 1px solid;
  padding: 8px 0px;
  width: 250px;
  margin: 10px 0px;
}

.header button {
  background-color: #76b6d4;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 8px 14px;
  outline: none;
  margin: 10px 20px;
}

.header input::placeholder {
  color: #76b6d4;
}

.header button:hover {
  border: 1px solid black;
  padding: 7px 13px;
}

.weather-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.img-desc {
  margin: -25px 0 -10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-card h1, h3{
  margin: 10px 0px;
}

.weather-card p {
  margin: 5px 0px;
}

.weather-card {
  font-size: 130%;
}

.img-desc img {
  width: 100px;
}